@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir.woff") format(woff);
}
@font-face {
  font-family: Vazir-Light;
  src: url("../fonts/Vazir-Light.woff") format(woff);
}
@font-face {
  font-family: Vazir-Medium;
  src: url("../fonts/Vazir-Medium.woff") format(woff);
}
@font-face {
  font-family: Vazir-Bold;
  src: url("../fonts/Vazir-Bold.woff") format(woff);
}
